.MainContentRight {
    padding: 15px;
}

.MainContentRight-pageTitle h2 {
    margin: 0 0 7px 0;
    line-height: 1.4;
    font-size: 1.5em;
}

.ImageWithText .ImageWithText-image img {
    background: #e5e6e4;
    padding: 8px;
    width: 100%
}

.ImageWithText .ImageWithText-content h3 {
    font-size: 1.17em;
    margin: 7px 0;
}

.ImageWithText .ImageWithText-content p {
    font-size: 14px;
    margin: 0 0 14px 0;
}
